:root {
    --gray: #f5f5f5; 
}

html {
    background-color: var(--gray);
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

/* svg starts */

#amores {
    border: 1px solid black;
    margin-top: 150px;
}

#kite {
    animation: kiting 10s ease 0s 1 normal forwards;
}

@keyframes kiting{
    100%{
        transform: translate(60vh, 10vh) rotateZ(-40deg) scale(0); opacity: .50;
    }
    50%{
        transform: translate(60vh, 10vh) rotateZ(-50deg) scale(0.2); opacity: 0.30;
    }


}
/* svg ends */

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* letter J */

/* letter J ends */

form {
    display: grid;

}